@font-face {
  font-family: ykw;
  src: url('./ChangaOne-Regular.ttf');
}

html {
  height: 100%;
  width: 100%;
}

p{
  font-family: ykw;
  font-size: 1.5vw;
}

#otherMessage{
  color: #52acf0;
}

#myMessage{
  color: #ff7cc4;
}

body {
  background-image: url('./images/battle/battleBG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

#battleViewport{
  background-image: url('./images/battle/viewportBG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 58%;
  width: 58%;
  top: 0%;
  left: 0%;
  overflow: hidden;
}

#wheelBG{
  position: absolute;
  height: 42vmin;
  width: 42vmin;
  top: 58vmin;
  left: 30vmin;
  border-radius: 50%; 
}

#soultimateBG{
  position: absolute;
  height: 42vmin;
  width: 42vmin;
  top: 58vmin;
  left: 30vmin;
  border-radius: 50%; 
}

#wheelLines{
  position: absolute;
  height: 42vmin;
  width: 42vmin;
  top: 58vmin;
  left: 30vmin;
  border-radius: 50%; 
}

#wheelShadow{
  position: absolute;
  height: 44vmin;
  width: 42vmin;
  top: 35vmin;
  left: 30vmin;
  pointer-events: none;
}

#soultSelect{
  position: absolute;
  height: 44vmin;
  width: 42vmin;
  top: 79vmin;
  left: 30vmin;
  pointer-events: none;
}

#purifySelect{
  position: absolute;
  height: 44vmin;
  width: 42vmin;
  top: 35vmin;
  left: 30vmin;
  pointer-events: none;
}

#wheelViewport{
  position: absolute;
  height: 42vmin;
  width: 42vmin;
  top: 58vmin;
  left: 30vmin;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 50%; 
}

#soultimateButton{
  position: absolute;
  height: 21vmin;
  width: 21vmin;
  top: 58.2vmin;
  left: 24vmin;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#targetButton{
  position: absolute;
  height: 21vmin;
  width: 21vmin;
  top: 58.2vmin;
  left: 57.5vmin;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#checkButton{
  position: absolute;
  height: 21vmin;
  width: 21vmin;
  top: 79vmin;
  left: 57.5vmin;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#purifyButton{
  position: absolute;
  height: 21vmin;
  width: 21vmin;
  top: 79vmin;
  left: 24vmin;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}



#toggleMid{
  position: absolute;
  height: 22vmin;
  width: 22vmin;
  top: 68vmin;
  left: 40vmin;
  border-radius: 50%;
  background-color: #00000000;
  border: none;
}

#wheelMid{
  position: absolute;
  height: 22vmin;
  width: 22vmin;
  top: 68vmin;
  left: 40vmin;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#slot1{
  position: absolute;
  height: 23%;
  width: 23%;
  top: 20%;
  left: 5.5%;
  transform: rotate(-60deg);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#slot2{
  position: absolute;
  height: 23%;
  width: 23%;
  top: 0.3%;
  left: 38%;
  transform: rotate(0deg);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#slot3{
  position: absolute;
  height: 23;
  width: 23%;
  top: 20%;
  left: 72%;
  transform: rotate(60deg);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#slot4{
  position: absolute;
  height: 23%;
  width: 23%;
  top: 57.5%;
  left: 72%;
  transform: rotate(120deg);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#slot5{
  position: absolute;
  height: 23%;
  width: 23%;
  top: 77%;
  left: 37.5%;
  transform: rotate(180deg);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#slot6{
  position: absolute;
  height: 23%;
  width: 23%;
  top: 58%;
  left: 5.5%;
  transform: rotate(-120deg);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  
}

#soulStatus0{
  position: absolute;
  height: 23%;
  width: 23%;
  top: 16%;
  left: -2%;
  transform: rotate(-60deg);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#soulStatus1{
  position: absolute;
  height: 23%;
  width: 23%;
  top: -7.5%;
  left: 38%;
  transform: rotate(0deg);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#soulStatus2{
  position: absolute;
  height: 23;
  width: 23%;
  top: 15.5%;
  left: 78.5%;
  transform: rotate(60deg);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#soulStatus3{
  position: absolute;
  height: 23%;
  width: 23%;
  top: 61.5%;
  left: 79%;
  transform: rotate(120deg);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#soulStatus4{
  position: absolute;
  height: 23%;
  width: 23%;
  top: 85%;
  left: 37.5%;
  transform: rotate(180deg);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#soulStatus5{
  position: absolute;
  height: 23%;
  width: 23%;
  top: 62%;
  left: -2%;
  transform: rotate(-120deg);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  
}

#chatBG{
  position: absolute;
  left: 57.5%;
  top: -1.5%;
  height: 103%;
  width: 43%;
  overflow: scroll;
}

#chatBox{
  position: absolute;
  left: 59%;
  top: 0%;
  height: 90%;
  width: 42%;
  overflow: scroll;
}


#messageInput{
  position: absolute;
  left: 58%;
  top: 90%;
  height: 10%;
  width: 42%;
  font-family: ykw;
  overflow: hidden;
  border: 4px solid transparent;
  border-image: linear-gradient(45deg, #FFB8E0, #80c6ff);
  border-image-slice: 1;
  background-color: rgba(255, 255, 255, 0.948); /* or any bg color */
  color: rgb(40, 24, 76);
  font-size: 2vw;
}

#myName0{
  position: absolute;
  top: 85%;
  left: 8%;
  font-size: 1.5vw;
  color: #fff;
  text-shadow:
  -1px -1px 0 #000000,
  1px -1px 0 #000000,
  -1px 1px 0 #000000,
  1px 1px 0 #000000;  
}

#myName1{
  position: absolute;
  top: 85%;
  left: 43%;
  font-size: 1.5vw;
  color: #fff;
  text-shadow:
  -1px -1px 0 #000000,
  1px -1px 0 #000000,
  -1px 1px 0 #000000,
  1px 1px 0 #000000;   
}

#myName2{
  position: absolute;
  top: 85%;
  left: 78%;
  font-size: 1.5vw;
  color: #fff;
  text-shadow:
  -1px -1px 0 #000000,
  1px -1px 0 #000000,
  -1px 1px 0 #000000,
  1px 1px 0 #000000;    
}

#otherName0{
  position: absolute;
  top: -2%;
  left: 78%;
  font-size: 1.5vw;
  color: #fff;
  text-shadow:
  -1px -1px 0 #000000,
  1px -1px 0 #000000,
  -1px 1px 0 #000000,
  1px 1px 0 #000000;  
  display: none;
}

#otherName1{
  position: absolute;
  top: -2%;
  left: 43%;
  font-size: 1.5vw;
  color: #fff;
  text-shadow:
  -1px -1px 0 #000000,
  1px -1px 0 #000000,
  -1px 1px 0 #000000,
  1px 1px 0 #000000;  
  display: none;
}

#otherName2{
  position: absolute;
  top: -2%;
  left: 8%;
  font-size: 1.5vw;
  color: #fff;
  text-shadow:
  -1px -1px 0 #000000,
  1px -1px 0 #000000,
  -1px 1px 0 #000000,
  1px 1px 0 #000000;  
  display: none;
}

#myHP0{
  position: absolute;
  top: 94.5%;
  left: 8%;
  height: 3%;
  width: 15%;

  -webkit-appearance: none;
  appearance: none;

  border-radius: 10px;
}

#myHP1{
  position: absolute;
  top: 94.5%;
  left: 43%;
  height: 3%;
  width: 15%;

  -webkit-appearance: none;
  appearance: none;

  border-radius: 10px;
}

#myHP2{
  position: absolute;
  top: 94.5%;
  left: 78%;
  height: 3%;
  width: 15%;

  -webkit-appearance: none;
  appearance: none;

  border-radius: 10px;
}

#otherHP0{
  position: absolute;
  top: 8%;
  left: 78%;
  height: 3%;
  width: 15%;

  -webkit-appearance: none;
  appearance: none;

  border-radius: 10px;
  display: none;
}

#otherHP1{
  position: absolute;
  top: 8%;
  left: 43%;
  height: 3%;
  width: 15%;

  -webkit-appearance: none;
  appearance: none;

  border-radius: 10px;
  display: none;
}

#otherHP2{
  position: absolute;
  top: 8%;
  left: 8%;
  height: 3%;
  width: 15%;

  -webkit-appearance: none;
  appearance: none;

  border-radius: 10px;
  display: none;
}

progress[value] {
  -webkit-appearance: none;
   appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #240236;
}

progress::-webkit-progress-bar {
  /* Change the background color of the progress bar */
  background-color: #240236;

  /* Add border-radius to make edges curved */
  border-radius: 10px;

}

progress::-webkit-progress-value {
  /* Change the fill color */
  background-color: #f8a9ff;
  border-radius: 10px;
}

#mySoul0{
  position: absolute;
  top: 93%;
  left: 4%;
  height: 4%;
  width: 4%;

  -webkit-appearance: none;
  appearance: none;

  border-radius: 10px;
  transform: rotate(-90deg)
}

#mySoul1{
  position: absolute;
  top: 93%;
  left: 39%;
  height: 4%;
  width: 4%;

  -webkit-appearance: none;
  appearance: none;

  border-radius: 10px;
  transform: rotate(-90deg)
}

#mySoul2{
  position: absolute;
  top: 93%;
  left: 74%;
  height: 4%;
  width: 4%;

  -webkit-appearance: none;
  appearance: none;

  border-radius: 10px;
  transform: rotate(-90deg)
}

.SOUL::-webkit-progress-bar {
  background-color: #032345;
  border-radius: 10px;
}

.SOUL::-webkit-progress-bar {
  /* Change the background color of the progress bar */
  background-color: #032345;

  /* Add border-radius to make edges curved */
  border-radius: 10px;

}

.SOUL::-webkit-progress-value {
  /* Change the fill color */
  background-color: #93cbff;
  border-radius: 10px;
}

.DAMAGE::-webkit-progress-bar {
  background-color: #032345;
  border-radius: 10px;
}

.DAMAGE::-webkit-progress-bar {
  /* Change the background color of the progress bar */
  background-color: #032345;

  /* Add border-radius to make edges curved */
  border-radius: 10px;

}

.DAMAGE::-webkit-progress-value {
  /* Change the fill color */
  background-color: #ff6e1f;
  border-radius: 10px;
}

#targetButton {
  transition: opacity 0.1s; /* This controls the speed of the fade */
}
#targetButton:active { /* This selector targets the input when it is being clicked */
  opacity: 0.5; /* This makes the input fade out */
}
#targetButton.fadeIn { /* This class is added when the mouse button is released */
  opacity: 1; /* This makes the input fade back in */
}

#soultimateButton {
  transition: opacity 0.1s; /* This controls the speed of the fade */
}
#soultimateButton:active { /* This selector targets the input when it is being clicked */
  opacity: 0.5; /* This makes the input fade out */
}
#soultimateButton.fadeIn { /* This class is added when the mouse button is released */
  opacity: 1; /* This makes the input fade back in */
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#targetCursor{
  position: absolute;
  height: 8vmin;
  width: 8vmin;
  pointer-events: none;
  transform: translate(50%, 50%);
}

#checkCursor{
  position: absolute;
  height: 8vmin;
  width: 8vmin;
  pointer-events: none;
  transform: translate(50%, 50%);
}

#myYokai0 {
  position: absolute;
  height: 40%;
  width: 25%;
  top: 50%;
  left: 5.5%;
}

#myYokai1 {
  position: absolute;
  height: 40%;
  width: 25%;
  top: 50%;
  left: 38%;
}

#myYokai2 {
  position: absolute;
  height: 40%;
  width: 25%;
  top: 50%;
  left: 71.5%;
}

#myGuard0 {
  position: absolute;
  top: 65%;
  left: 10.5%;
  font-size: 2vw;
}

#myGuard1 {
  position: absolute;
  top: 65%;
  left: 44%;
  font-size: 2vw;
}

#myGuard2 {
  position: absolute;
  top: 65%;
  left: 77.5%;
  font-size: 2vw;
}

#myLoaf0 {
  position: absolute;
  top: 65%;
  left: 10.5%;
  font-size: 2vw;
  display: none;
}

#myLoaf1 {
  position: absolute;
  top: 65%;
  left: 44%;
  font-size: 2vw;
  display: none;
}

#myLoaf2 {
  position: absolute;
  top: 65%;
  left: 77.5%;
  font-size: 2vw;
  display: none;
}

#otherGuard0 {
  position: absolute;
  top: 25%;
  left: 14.5%;
  font-size: 1.5vw;
}

#otherGuard1 {
  position: absolute;
  top: 25%;
  left: 45%;
  font-size: 1.5vw;
}

#otherGuard2 {
  position: absolute;
  top: 25%;
  left: 75.5%;
  font-size: 1.5vw;
}

#otherCharge0 {
  position: absolute;
  top: 25%;
  left: 10.5%;
  font-size: 1.5vw;
}

#otherCharge1 {
  position: absolute;
  top: 25%;
  left: 41%;
  font-size: 1.5vw;
}

#otherCharge2 {
  position: absolute;
  top: 25%;
  left: 71.5%;
  font-size: 1.5vw;
}

#otherLoaf0 {
  position: absolute;
  top: 25%;
  left: 14.5%;
  font-size: 1.5vw;
  display: none;
}

#otherLoaf1 {
  position: absolute;
  top: 25%;
  left: 45%;
  font-size: 1.5vw;
  display: none;
}

#otherLoaf2 {
  position: absolute;
  top: 25%;
  left: 75.5%;
  font-size: 1.5vw;
  display: none;
}

#pin0 {
  position: absolute;
  height: 10%;
  width: 6%;
  top: 15%;
  left: 77%;
}

#pin1 {
  position: absolute;
  height: 10%;
  width: 6%;
  top: 15%;
  left: 47%;
}

#pin2 {
  position: absolute;
  height: 10%;
  width: 6%;
  top: 15%;
  left: 17%;
}

#myYokaiLeft {
  position: absolute;
  height: 40%;
  width: 30%;
  top: 50%;
  left: -30%;
}

#myYokaiRight {
  position: absolute;
  height: 40%;
  width: 30%;
  top: 50%;
  left: 100%;
}

#otherYokai0 {
  position: absolute;
  height: 30%;
  width: 20%;
  top: 15%;
  left: 70%;
}

#otherYokai1 {
  position: absolute;
  height: 30%;
  width: 20%;
  top: 15%;
  left: 40%;
}

#otherYokai2 {
  position: absolute;
  height: 30%;
  width: 20%;
  top: 15%;
  left: 10%;
}

#otherYokaiLeft {
  position: absolute;
  height: 30%;
  width: 20%;
  top: 15%;
  left: 100%;
}

#otherYokaiRight {
  position: absolute;
  height: 30%;
  width: 20%;
  top: 15%;
  left: -20%;
}

#mpreload0{
  position: absolute;
  height: 5%;
  width: 5%;
  top: 150%;
}

#mpreload1{
  position: absolute;
  height: 5%;
  width: 5%;
  top: 150%;
}

#mpreload2{
  position: absolute;
  height: 5%;
  width: 5%;
  top: 150%;
}

#mpreload3{
  position: absolute;
  height: 5%;
  width: 5%;
  top: 150%;
}

#mpreload4{
  position: absolute;
  height: 5%;
  width: 5%;
  top: 150%;
}

#mpreload5{
  position: absolute;
  height: 5%;
  width: 5%;
  top: 150%;
}

#opreload0{
  position: absolute;
  height: 5%;
  width: 5%;
  top: 150%;
}

#opreload1{
  position: absolute;
  height: 5%;
  width: 5%;
  top: 150%;
}

#opreload2{
  position: absolute;
  height: 5%;
  width: 5%;
  top: 150%;
}

#opreload3{
  position: absolute;
  height: 5%;
  width: 5%;
  top: 150%;
}

#opreload4{
  position: absolute;
  height: 5%;
  width: 5%;
  top: 150%;
}

#opreload5{
  position: absolute;
  height: 5%;
  width: 5%;
  top: 150%;
}

@keyframes slideLeft {
  0% { transform: translateX(0%); opacity: 1; }
  100% { transform: translateX(-109%); opacity: 1; }
}

.animateLeft {
  position: relative;
  animation: slideLeft 0.5s none;
}

@keyframes slideRight {
  0% { transform: translateX(0%); opacity: 1; }
  100% { transform: translateX(109%); opacity: 1; }
}

.animateRight {
  position: relative;
  animation: slideRight 0.5s none;
}

@keyframes OslideLeft {
  0% { transform: translateX(0%); opacity: 1; }
  100% { transform: translateX(-150%); opacity: 1; }
}

.OanimateLeft {
  position: relative;
  animation: OslideLeft 0.5s none;
}

@keyframes OslideRight {
  0% { transform: translateX(0%); opacity: 1; }
  100% { transform: translateX(150%); opacity: 1; }
}

.OanimateRight {
  position: relative;
  animation: OslideRight 0.5s none;
}

#advanceTurn{
  position: absolute;
  height: 10%;
  width: 10%;
  top: 75%;
}

.systemMessage{
  color: #fff;
  text-shadow:
  -1px -1px 0 #7babff,
  1px -1px 0 #93bcff,
  -1px 1px 0 #ffa8f9,
  1px 1px 0 #ffadf7;  
}

#startMenu{
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

#startText{
  font-family: ykw;
  font-size: 4vw;
  position: absolute;
  left: 28%;
  top: 70%;
}

#toggleMusic{
  position: absolute;
  height: 10%;
  width: 5%;
  top: 90%;
  left: 2%;
}

#switchingText{
  color: #fff;
  text-shadow:
  -1px -1px 0 #7babff,
  1px -1px 0 #93bcff,
  -1px 1px 0 #ffa8f9,
  1px 1px 0 #ffadf7;  
  font-size: 3vw;
  position: absolute;
  top: 50%;
  left: 15%;
}

#switchCooldown{
  position: absolute;
  height: 42vmin;
  width: 42vmin;
  top: 58vmin;
  left: 30vmin;
  border-radius: 50%; 
  background-color: rgb(255, 148, 148, 0.7);
}

#cooldownCount{
  color: #fff;
  text-shadow:
  -1px -1px 0 #7babff,
  1px -1px 0 #93bcff,
  -1px 1px 0 #ffa8f9,
  1px 1px 0 #ffadf7;  
  font-size: 5vw;
  position: absolute;
  top: 10%;
  left: 43%;
}

#switchTimer{
  position: absolute;
  height: 42vmin;
  width: 42vmin;
  top: 58vmin;
  left: 30vmin;
  border-radius: 50%; 
  pointer-events: none;
}

#timerCount{
  color: #fff;
  text-shadow:
  -1px -1px 0 #7babff,
  1px -1px 0 #93bcff,
  -1px 1px 0 #ffa8f9,
  1px 1px 0 #ffadf7;   
  font-size: 5vw;
  position: absolute;
  top: 10%;
  left: 43%;
  pointer-events: none;
}

#moveDisplay{
  color: #fff;
  text-shadow:
  -1px -1px 0 #7babff,
  1px -1px 0 #93bcff,
  -1px 1px 0 #ffa8f9,
  1px 1px 0 #ffadf7;  
  font-size: 5vw;
  position: absolute;
  top: 10%;
  left: 43%;
  pointer-events: none;
}

#infoDisplay{
  position: absolute;
  height: 19vw;
  width: 17.5vw;
  padding-left: 1vw;
  background-color: rgba(255, 255, 255, 0.7);
  background-image: url('/images/panelBG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  pointer-events: none;
}

.infoText{
  font-size: 1vw;
  color: rgb(40, 24, 76);
}

#damage{
  color: #ff809f;
}

#na{
  color: #ff823f;
}

#tech{
  color: #85c4ff;
}

#heal{
  color: #5dff70;
}

#drain{
  color: #b366ff;
}

#inspirit{
  color: #ff63d0;
}

#soult {
  color: #00ffc3;
}

#guard{
  color: #ffca60;
}

#loaf{
  color: #8da7aa;
}

#purify{
  color: #46ff59;
}

#results{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

#resultsImage{
  position: absolute;
  width: 70%;
  height: 60%;
  left: 15%;
  top: 20%;
  display: none;
}

.victory{
  color: #ffad61;
}

.defeat{
  color: #9670ff;
}



#pro1{
  position: absolute;
  height: 3%;
  width: 28%;
  top: 24.5%;
  left: 36%;
}

#pro2{
  position: absolute;
  height: 3%;
  width: 28%;
  top: 36.5%;
  left: 57%;
  transform: rotate(60deg)
}

#pro3{
  position: absolute;
  height: 3%;
  width: 28%;
  top: 61%;
  left: 57%;
  transform: rotate(120deg)
}

#pro4{
  position: absolute;
  height: 3%;
  width: 28%;
  top: 73%;
  left: 36%;
  transform: rotate(180deg)
}

#pro5{
  position: absolute;
  height: 3%;
  width: 28%;
  top: 61%;
  left: 15%;
  transform: rotate(240deg)
}


#pro0{
  position: absolute;
  height: 3%;
  width: 28%;
  top: 36.5%;
  left: 15%;
  transform: rotate(300deg)
}

#soul1{
  position: absolute;
  height: 1%;
  width: 27%;
  top: 26.5%;
  left: 36.5%;
}

#soul2{
  position: absolute;
  height: 1%;
  width: 27%;
  top: 38%;
  left: 56.5%;
  transform: rotate(60deg)
}

#soul3{
  position: absolute;
  height: 1%;
  width: 27%;
  top: 61.3%;
  left: 56.7%;
  transform: rotate(120deg)
}

#soul4{
  position: absolute;
  height: 1%;
  width: 27%;
  top: 73%;
  left: 36.5%;
  transform: rotate(180deg)
}

#soul5{
  position: absolute;
  height: 1%;
  width: 27%;
  top: 61.5%;
  left: 16.3%;
  transform: rotate(240deg)
}


#soul0{
  position: absolute;
  height: 1%;
  width: 27%;
  top: 38%;
  left: 16.5%;
  transform: rotate(300deg)
}

#allDown{
  position: absolute;
  height: 58%;
  width: 58%;
  top: 0%;
  left: 0%;
  overflow: hidden;
  background-color: rgba(255, 100, 100, 0.7);
}

#allDownWarning{
  position: absolute;
  font-size: 2vw;
  top: 20%;
  left: 10%;
  color: #fff;
  text-shadow:
  -1px -1px 0 #7babff,
  1px -1px 0 #93bcff,
  -1px 1px 0 #ffa8f9,
  1px 1px 0 #ffadf7;  
}

#skillAlert{
  color: #ffec7e;
  text-shadow:
  -1px -1px 0 #7babff,
  1px -1px 0 #93bcff,
  -1px 1px 0 #ffa8f9,
  1px 1px 0 #ffadf7;  
  font-size: 2vw;
  position: absolute;
  top: 50%;
}

#myPosInsp0 {
  position: absolute;
  height: 13%;
  width: 9%;
  top: 45%;
  left: 2.5%;
  pointer-events: none;
}

#myPosInsp1 {
  position: absolute;
  height: 13%;
  width: 9%;
  top: 45%;
  left: 35%;
  pointer-events: none;
}

#myPosInsp2 {
  position: absolute;
  height: 13%;
  width: 9%;
  top: 45%;
  left: 67.5%;
  pointer-events: none;
}

#myNegInsp0 {
  position: absolute;
  height: 13%;
  width: 9%;
  top: 45%;
  left: 4.5%;
  pointer-events: none;
}

#myNegInsp1 {
  position: absolute;
  height: 13%;
  width: 9%;
  top: 45%;
  left: 37%;
  pointer-events: none;
}

#myNegInsp2 {
  position: absolute;
  height: 13%;
  width: 9%;
  top: 45%;
  left: 69.5%;
  pointer-events: none;
}

#otherPosInsp0 {
  position: absolute;
  height: 13%;
  width: 9%;
  top: 15%;
  left: 70%;
  pointer-events: none;
}

#otherPosInsp1 {
  position: absolute;
  height: 13%;
  width: 9%;
  top: 15%;
  left: 40%;
  pointer-events: none;
}

#otherPosInsp2 {
  position: absolute;
  height: 13%;
  width: 9%;
  top: 15%;
  left: 10%;
  pointer-events: none;
}

#otherNegInsp0 {
  position: absolute;
  height: 13%;
  width: 9%;
  top: 15%;
  left: 68%;
  pointer-events: none;
}

#otherNegInsp1 {
  position: absolute;
  height: 13%;
  width: 9%;
  top: 15%;
  left: 38%;
  pointer-events: none;
}

#otherNegInsp2 {
  position: absolute;
  height: 13%;
  width: 9%;
  top: 15%;
  left: 8%;
  pointer-events: none;
}

.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#cancelSoult {
  font-size: 1.5vw;
  left: 11%;
  top: 88%;
  position: absolute;
  color: #fff;
  background-color: #000;
}

#cancelPurify {
  font-size: 1.5vw;
  left: 13%;
  top: 65%;
  position: absolute;
  color: #fff;
  background-color: #000;
}

#oneSoult {
  position: absolute;
  height: 10vmin;
  width: 10vmin;
  top: 66.2vmin;
  left: 32.5vmin;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-color: #00000000;
  border: none;
}

#twoSoult {
  position: absolute;
  height: 10vmin;
  width: 10vmin;
  top: 58vmin;
  left: 46vmin;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-color: #00000000;
  border: none;
}

#threeSoult {
  position: absolute;
  height: 10vmin;
  width: 10vmin;
  top: 66.2vmin;
  left: 60vmin;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-color: #00000000;
  border: none;
}

#onePurify {
  position: absolute;
  height: 10vmin;
  width: 10vmin;
  top: 81.2vmin;
  left: 32.5vmin;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-color: #00000000;
  border: none;
}

#twoPurify {
  position: absolute;
  height: 10vmin;
  width: 10vmin;
  top: 89vmin;
  left: 46vmin;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-color: #00000000;
  border: none;
}

#threePurify {
  position: absolute;
  height: 10vmin;
  width: 10vmin;
  top: 81.2vmin;
  left: 60vmin;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-color: #00000000;
  border: none;
}

#soultCharge {
  position: absolute;
  height: 2vmin;
  width: 30vmin;
  top: 66.2vmin;
  left: 36vmin;
}

#pokeDamageCharge {
  position: absolute;
  height: 2vmin;
  width: 30vmin;
  top: 66.2vmin;
  left: 36vmin;
}
#pokeSoulCharge {
  position: absolute;
  height: 2vmin;
  width: 30vmin;
  top: 68.2vmin;
  left: 36vmin;
}

#pokeDamageButton {
  position: absolute;
  height: 5vmin;
  width: 5vmin;
  top: 70.2vmin;
  left: 40vmin;
}

#pokeSoulButton {
  position: absolute;
  height: 5vmin;
  width: 5vmin;
  top: 90vmin;
  left: 66vmin;
}

#pokeSoulCharge {
  position: absolute;
  height: 2vmin;
  width: 30vmin;
  top: 68.2vmin;
  left: 36vmin;
}

#minigameTypeLabel {
  position: absolute;
  height: 2vmin;
  width: 30vmin;
  top: 80.2vmin;
  left: 36vmin;
  color: #8dc6ff;
  text-shadow:
  -1px -1px 0 #7babff,
  1px -1px 0 #93bcff,
  -1px 1px 0 #ffa8f9,
  1px 1px 0 #ffadf7;  
}

#minigameTypeInput {
  position: absolute;
  height: 3vmin;
  width: 30vmin;
  top: 85.2vmin;
  left: 36vmin;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-family: ykw;
}

#chargedLabel {
  position: absolute;
  height: 2vmin;
  width: 30vmin;
  top: 78.2vmin;
  left: 38vmin;
  color: #ffffff;
  font-size: 3vw;
}

#yokaiThumbnail {
  position: absolute;
  height: 30vmin;
  width: 30vmin;
  top: 60.2vmin;
  left: 35vmin;
}

#soultimateVideo{
  position: absolute;
  height: 58%;
  width: 58%;
  top: 0%;
  left: 0%;
}

.viewText {
  color: #fff;
  text-shadow:
  -1px -1px 0 #000000,
  1px -1px 0 #000000,
  -1px 1px 0 #000000,
  1px 1px 0 #000000;  
}

#alertMessage {
  position: absolute;
  height: 100%;
  width: 100%;
}

#fullPanelBG {
  position: absolute;
  height: 100%;
  width: 100%;
}

#alertText1{
  position: absolute;
  font-size: 3vw;
  left: 15%;
  top: 40%;
}