@font-face {
  font-family: ykw;
  src: url('./ChangaOne-Regular.ttf');
}

html {
  height: 100%;
  width: 100%;
}

p{
  font-family: ykw;
  color: rgb(40, 24, 76);
}

.uiBG {
  font-size: 1rem;
  border: 4px solid transparent;
  border-image: linear-gradient(45deg, #FFB8E0, #80c6ff);
  border-image-slice: 1;
  background-color: rgba(255, 255, 255, 0.948); /* or any bg color */
  color: rgb(40, 24, 76);
  cursor: pointer;
}

body {
  background-image: url('./images/matchmaking/matchmaking.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#padTrans {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#toggleMusic{
  position: absolute;
  height: 10%;
  width: 5%;
  top: 90%;
  left: 2%;
}

#homeButton{
  position: absolute;
  top: 4%;
  left: 2%;
  height: 10%;
  width: 5%;
}

#teamSelect{
  font-family: ykw;
  position: absolute;
  height: 10%;
  width: 45%;
  left: 27.5%;
  top: 40%;
  font-size: 2vw;
}

#tierSelect{
  font-family: ykw;
  position: absolute;
  height: 10%;
  width: 45%;
  left: 27.5%;
  top: 20%;
  font-size: 2vw;
}

#tierLabel{
  font-size: 2vw;
  position: absolute;
  left: 27.5%;
  top: 10%;
}

#teamLabel{
  font-size: 2vw;
  position: absolute;
  left: 27.5%;
  top: 30%;
}

#countData{
  font-size: 1.5vw;
  position: absolute;
  left: 27.5%;
  top: 60%;
}

#battleButton{
  font-size: 2vw;
  position: absolute;
  left: 27.5%;
  top: 75%;
  height: 10%;
  width: 45%;
  font-family: ykw;
}


#bgSprite{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0%;
  top: 10%;
  pointer-events: none;
}

#menuBG{
  position: absolute;
  top: 0%;
  left: 25%;
  height: 100%;
  width: 50%;
  pointer-events: none;
}

#matchDialog{
  position: absolute;
  font-size: 2vw;
  left: 15%;
  top: 65%;
}

#dialogName{
  position: absolute;
  font-size: 3vw;
  left: 17%;
  top: 54%;
}

#matchmakingMenu{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

#lookingText{
  position: absolute;
  font-size: 3vw;
  left: 15%;
  top: 40%;
}

#usernameInput{
  position: absolute;
  height: 5%;
  width: 20%;
  top: 4%;
  left: 52%;
  font-family: ykw;
}

em {
  color: #7ac6ff
}

#bg {
  position: absolute;
  width: 110%;
  height: 110%;
}

#fullPanelBG {
  position: absolute;
  height: 100%;
  width: 100%;
}