@font-face {
  font-family: ykw;
  src: url('./ChangaOne-Regular.ttf');
}

html {
  height: 100%;
  width: 100%;
}


p {
  font-family: ykw;
  font-size: 1.5vw;
  color: rgb(40, 24, 76);
  display: inline
}

button {
  border: 4px solid transparent;
  border-image: linear-gradient(45deg, #FFB8E0, #80c6ff);
  border-image-slice: 1;
  background-color: rgb(255, 255, 255); /* or any bg color */
  color: rgb(40, 24, 76);
  cursor: pointer;
  font-size: 1.5vw;
}

em {
  color: #a01818;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

input {
  font-family: ykw;
  font-size: 1vw;
  width: 13%;
  height: 5%
}

select {
  font-family: ykw;
  font-size: 1vw;
}

body {
  background-image: url('/images/teambuilder/padBG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#padTrans {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#toggleMusic {
  position: absolute;
  height: 10%;
  width: 5%;
  top: 90%;
  left: 2%;
}

#homeButton {
  position: absolute;
  top: 4%;
  left: 2%;
  height: 10%;
  width: 5%;
}

#yokaiGif {
  position: absolute;
  height: 40%;
  width: 22%;
  top: 5%;
  left: 6%;
}

#yokaiName {
  font-family: ykw;
  color: #fff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  position: absolute;
  font-size: 3vw;
  top: 40%;
  left: 6%;
}

.uiBG {
  font-size: 1rem;
  border: 4px solid transparent;
  border-image: linear-gradient(45deg, #FFB8E0, #80c6ff);
  border-image-slice: 1;
  background-color: rgba(255, 255, 255, 0.948); /* or any bg color */
  color: rgb(40, 24, 76);
  cursor: pointer;
}

#yokaiWheel {
  position: absolute;
  height: 45%;
  width: 25%;
  top: 53%;
  left: 5.5%;
}

#yokaiList {
  position: absolute;
  height: 40%;
  width: 50%;
  left: 35%;
  top: 60%;
  overflow: scroll;
}

#itemList {
  position: absolute;
  height: 40%;
  width: 50%;
  left: 35%;
  top: 60%;
  overflow: scroll;
}

#currentInfo {
  position: absolute;
  height: 50%;
  width: 50%;
  left: 35%;
  top: 10%;
  overflow: scroll;
}

.medalList {
  height: 15%;
  width: 7%;
  float: left;
}

.yokaiOption {
  font-family: ykw;
  font-size: 1vw;
  height: 15%;
  width: 83%
}

#teamSelect {
  font-family: ykw;
  position: absolute;
  height: 7%;
  width: 25%;
  left: 34.9%;
  top: 1.5%;
}

#nameTeam {
  position: absolute;
  height: 6.35%;
  width: 24.8%;
  left: 59.9%;
  top: 1.5%;
  font-family: ykw;
}

#teamCreate {
  position: absolute;
  height: 5%;
  width: 10%;
  left: 88%;
  top: 1.5%;
  font-family: ykw;
  font-size: 1vw;
}

#teamRename {
  position: absolute;
  height: 5%;
  width: 10%;
  left: 88%;
  top: 7%;
  font-family: ykw;
  font-size: 1vw;
}

#teamDelete {
  position: absolute;
  height: 5%;
  width: 10%;
  left: 88%;
  top: 12.5%;
  font-family: ykw;
  font-size: 1vw;
}

#slot1 {
  position: absolute;
  height: 10%;
  width: 6%;
  top: 63.5%;
  left: 8.25%;
}

#slot2 {
  position: absolute;
  height: 10%;
  width: 6%;
  top: 56.7%;
  left: 15.1%;
}

#slot3 {
  position: absolute;
  height: 10%;
  width: 6%;
  top: 63.7%;
  left: 21.7%;
}

#slot4 {
  position: absolute;
  height: 10%;
  width: 6%;
  top: 77.2%;
  left: 21.7%;
}

#slot5 {
  position: absolute;
  height: 10%;
  width: 6%;
  top: 84.4%;
  left: 15.1%;
}

#slot6 {
  position: absolute;
  height: 10%;
  width: 6%;
  top: 77.2%;
  left: 8.25%;
}

#deleteYokai {
  position: absolute;
  height: 5%;
  width: 10%;
  left: 0.5%;
  top: 52.5%;
  font-family: ykw;
  font-size: 1vw;
}

#currentText {
  font-size: 1.5vw;
}

#addYokai {
  position: absolute;
  height: 5%;
  width: 10%;
  left: 88%;
  top: 60%;
  font-family: ykw;
  font-size: 1vw;
}

#addItems {
  position: absolute;
  height: 5%;
  width: 10%;
  left: 88%;
  top: 66%;
  font-family: ykw;
  font-size: 1vw;
}

#equipText {
  color: #8095ff;
}

#clearItems {
  height: 10%;
  width: 15%;
  font-family: ykw;
  font-size: 1vw;
}

#statsChart {
  position: absolute;
  width: 50%;
  height: 70%;
  left: 65%;
  top: 12%;
  pointer-events: none;
}

.chartBar {
  height: 5%;
  width: 30%;
}

#probChart {
  position: absolute;
  width: 25%;
  height: 15%;
  left: 60%;
  top: 31%;
}

.probText {
  font-size: 1vw;
}

#apDisplay {
  position: absolute;
  top: 50%;
  left: 73%;
  color: #80ffbd;
  font-size: 2.5vw;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#setBony {
  position: absolute;
  height: 5%;
  width: 10%;
  left: 50%;
  top: 55%;
  font-family: ykw;
  font-size: 1.5vw;
  color: #ff8080;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#setFleshy {
  position: absolute;
  height: 5%;
  width: 10%;
  left: 60%;
  top: 55%;
  font-family: ykw;
  font-size: 1.5vw;
  color: #80c8ff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#pasteOutput {
  overflow: scroll;
  position: absolute;
  height: 35%;
  width: 35%;
  top: 30%;
  left: 35%;
  background-color: rgba(255, 255, 255, 1);
}

#pasteText {
  font-size: 1vw;
  color: #cdb3ff;
}

#closePaste {
  position: absolute;
  left: 85%;
  top: 0%;
  width: 10%;
  height: 10%;
}

#importTeam {
  position: absolute;
  height: 5%;
  width: 10%;
  left: 88%;
  top: 35%;
  font-family: ykw;
  font-size: 1vw;
}

#exportTeam {
  position: absolute;
  height: 5%;
  width: 10%;
  left: 88%;
  top: 41%;
  font-family: ykw;
  font-size: 1vw;
}

#bg {
  position: absolute;
  width: 110%;
  height: 110%;
}